{% extends "layout.html" %}

{% block title %}
    Flack
{% endblock %}

{% block body %}
<head>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script>
	document.addEventListener('DOMContentLoaded', function(){
			var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
			socket.on('connect', function(){
				document.querySelector('#reply').onclick = function(){
					const message = document.querySelector('#comment_box').value ;
					socket.emit('submit', message, "{{ room }}");
					document.querySelector('#comment_box').value = "";
				}
			});
			
			socket.on('send reply', function(data) {
				var table_row = document.createElement("tr");
				var table_data = document.createElement("td");

				var username_td = document.createElement("span");
				var reply_td = document.createElement("span");

				var text = data.split("::");

		//		username_td.style.cssText = "color:purple;";
		//		reply_td.style.cssText = "color:orange;";

				username_td.className = "username";
				reply_td.className = "reply";

				username_td.appendChild(document.createTextNode(text[0]))
				reply_td.appendChild(document.createTextNode(text[1]));

				table_data.appendChild(username_td).appendChild(reply_td);
				table_row.appendChild(table_data);

				document.querySelector('#chat_body').appendChild(table_row);

			//	var new_message = document.createElement("tr");
			//	new_message.appendChild(document.createTextNode(data));
				
			//	document.querySelector('#chat_body').appendChild(new_message);
			});
			
			document.querySelector('#rooms').onchange = function(){
				document.querySelector('#chat_room_title').innerHTML = document.querySelector('#rooms').value;
			
			}
		});
	</script>
	<link rel="stylesheet" href="/static/channel_style.css">
</head>

<style>
	.channel_link {
    	color: white;
	}
	h1 {
    	color: rgb(255,255,255);
	}
	a {
    	color: rgb(255,255,255);
	}
	.convo {
    	background-color: white;
    	border: 1px solid rgb(211,194,178);
    	width: 70%;
    	word-wrap: break-word;
    	margin: auto;
    	height: 69%;
	}	
	.username {
    	color: purple;
	}
	.reply {
	    color: blue;
	}
</style>

<div>
<a href="{{url_for('index')}}">Home</a>
	<h1> {{ room }} </h1>
		<ul>
			{% for r in chat_rooms %}
				<li>
					<a href="{{url_for('channel_view', room=r)}}" value="{{ r }}">{{ r }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="convo" >
		<label id="chat_room_title"></label>
		<table class="chat" id="chat_window">
			<tbody id="chat_body">
				{% for m in chat_log %}
				{% set name = m.split('::') %}
				<tr>
					<td>
						<span class="username">{{ name[0] }}</span>				
						<span class="reply">{{ name[1] }}</span>
					</td>
				</tr>
				{% endfor %}
			</tbody>				
		</table>
		<input id="comment_box" placeholder="Reply"/>
		<button id="reply">Reply</button>
	</div>

{% endblock %}